@font-face {
    font-family: 'teradeli-book';
    font-style: normal;
    font-weight: 400;
    font-display: block;

    src: url(../../assets/fonts/Teradeli-Book.woff) format('woff');
}

@font-face {
    font-family: 'teradeli-medium';
    font-display: block;
    src: url(../../assets/fonts/Teradeli-Medium.woff) format('woff');
}

@font-face {
    font-family: 'teradeli-light';
    font-display: block;
    src: url(../../assets/fonts/Teradeli-Light.woff) format('woff');
}