html {
  scroll-behavior: smooth;
}

.v-application {
  font-family: 'teradeli-book', sans-serif !important;
   .title { // To pin point specific classes of some components
      font-family: 'teradeli-light', sans-serif !important;
   }
}

.v-progress-circular__info {
  color: #fff;
  font-size: 1.6rem;
  font-family: teradeli-medium;
}

body {
  font-family: 'teradeli-book', sans-serif;
  color: #153038;
}

.v-application {
  font-family: 'teradeli-book', sans-serif;
}

.teradeli-book{
  font-family: 'teradeli-book', sans-serif !important;
}
.teradeli-light {
  font-family: 'teradeli-light', sans-serif !important;
}
.teradeli-medium {
  font-family: 'teradeli-medium', sans-serif !important;
}
.form-theme {
  border: 1px solid #fff;
  padding: 12px;
  font-weight: bold;
  line-height: 1.5;
  color: #fff;
  margin: 10px 0;
  height: 55px;
  font-size: 12px;
  font-family: "teradeli-medium", sans-serif;
  transition: all 0.6s ease;

  &:focus {
    border-color: #0081a7 !important;
    box-shadow: 0 1px 1px rgba(0, 129, 167, .075) inset, 0 0 8px rgba(0, 129, 167, .6);
    outline: 0 none;
  }

  &::placeholder {
    color: #B9B9B9;
    font-weight: bold;
    letter-spacing: 2px;
  }
}

.centerabsolute {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  }

.btn-theme {
  color: #fff;
  border: none;
  outline: 0;
  font-size: .875rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.8px;
  background-color: #0081a7 !important;
  word-break: break-word;
  padding: 0px 15px;
  text-align: center;
  border-radius: 30px;
  font-weight: 600;
  margin: 7px 0;
  transition: all 0.6s ease;
  line-height: 15px;
  height: 48px;

  &:hover {
    background-color: #153038 !important;
  }
}

.nav-btn {
  height: 42px;
  color: #fff;
  border: none;
  outline: 0;
  font-size: 0.775rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.8px;
  background-color: #0081a7 !important;
  word-break: break-word;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  border-radius: 30px;
  font-weight: 600;
  transition: all 0.6s ease;

  &:hover {
    background-color: #153038 !important;
  }
}

#mapSection {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
  padding-top: 1.5rem !important;
}

.map-marker {
  margin-left: -5px;
  margin-top: 20px;
  box-sizing: border-box;
}

.map-marker.map-clickable {
  cursor: pointer;
}

.pulse {
  width: 10px;
  height: 10px;
  border: 5px solid #f7f14c;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #716f42;
  z-index: 10;
  position: absolute;
  box-sizing: border-box;
}

.map-marker .dot {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #0081a7;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
  animation: pulse 1.5s infinite;
  position: absolute;
  top: -10px;
  left: -8px;
}

.conttext {
  background: white;
  padding: 10px;
  border-radius: 4px;
  margin-left: 30px;

  .img {
    width: 150px;
    border-radius: 4px;
  }

  .text {
    text-align: left;
    color: black;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: 'teradeli-medium', sans-serif;
  }
}

.appshadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .04), 0 12px 20px 0 rgba(0, 0, 0, .08);
  transition: 0.2s;
}

@-moz-keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 129, 167, 0.9);
    box-shadow: 0 0 0 0 rgba(0, 129, 167, 0.9);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 20px rgba(0, 129, 167, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(0, 129, 167, 0);
  }
}

@-webkit-keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 129, 167, 0.9);
    box-shadow: 0 0 0 0 rgba(0, 129, 167, 0.9);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 20px rgba(0, 129, 167, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(0, 129, 167, 0);
  }
}

.v-progress-circular__underlay {
  stroke: white;
}

.appBar {
  .theme--light.v-btn.v-btn--icon {
    color: rgb(255 255 255);
  }

  .whiteBack .theme--light.v-btn.v-btn--icon {
    color: black !important;
  }

  .item {
    span {
      font-weight: 500;
      font-size: .8125rem;
      line-height: 1.23;
      letter-spacing: .8px;
    }
  }

  .v-list-item {
    border-bottom: 1px solid #9e9e9e45;
    text-transform: uppercase;

  }

  .v-list-item:not(.v-list-item--active):not(.v-list-item--disabled).current {
    color: #0081a7 !important;
  }

  .v-toolbar__content {
    padding: 0;
  }

}

.nohover:focus::before, .nohover:hover::before {
  opacity: 0!important;
}

.v-btn__content {
  font-size: 26px;
  font-family: teradeli-light;
}

#Eden_ProjetContainer {
  transform: translateX(-265px);
  @media (max-width: 767px) {
    transform: translateX(-118px) translateY(17px) !important;
  }
}

@media (max-width: 767px) {
  #Trees_for_TigerContainer {
    transform: translateX(-230px);
    margin-top: -150px;
  }
}

.border-top-2 {
  border-top: #eae8e4 solid 1px;
}

.border-bottom-2 {
  border-bottom: #eae8e4 solid 1px;
}

.border-left-2 {
  border-left: #eae8e4 solid 1px;
}

.border-right-2 {
  border-right: #eae8e4 solid 1px;
}

.border-bottom-1 {
  border-bottom: solid 1px #1c1b1b99;;
}

.border-top-1 {
  border-top: solid 1px #1c1b1b99;;
}
.finebordert {
border-top: solid 1px rgba(255,255,255,0.6);
}


.instagram_gallery {
  overflow-x: auto;
  max-width: 100%;
  display: flex;

  &::-webkit-scrollbar {
    display: none;
  }

  a {
    overflow: hidden;
    max-height: 230px;
    @media (min-width: 990px) {
      min-width: 16.666%;
    }
    @media (min-width: 800px) and (max-width: 989px) {
      min-width: 20%;
    }
    @media (min-width: 700px) and (max-width: 799px) {
      min-width: 25%;
    }
    @media (min-width: 600px) and (max-width: 699px) {
      min-width: 33.333%;
    }
    @media (min-width: 480px) and (max-width: 599px) {
      min-width: 50%;
    }
    @media (max-width: 479px) {
      min-width: 100%;
    }


    img {
      width: 100% !important;
      transition: .5s;

      &:hover {
        transition: all .5s;
        transform: scale(1.05);
      }
    }
  }
}

.modal-open {
  overflow: hidden !important;
}

.cursor-pointer {
  cursor: pointer;
}
.w-100{
  width:100%!important;
}
.h-100 {
  height: 100%!important;
}
.h-50 {
    height: 50%!important;
}
.opacity-02 {
  opacity: 0.2 !important;
}

.absolute-title {
  z-index: 2;
  position: absolute !important;
  top: 20px;
}

.cross {
  cursor: url('../images/cross_100185.svg'), auto;
}
.p-0{
  padding: 0!important;
}
.bgi {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.position-absolute{
  position: absolute;
}
.v-dialog.v-dialog--active.v-dialog--persistent {
  backdrop-filter: saturate(180%) blur(20px);
}
.theme--light.v-card {
  background: none!important;
}
.v-expansion-panel-content__wrap {
  padding: 0px 10px;
}
.custom-toast {
  position: fixed;
  top: 70px;
  right: auto;
  width: 350px;
  z-index: 20000;
  padding: 1.5rem !important;

  .toast-box {
    border-radius: 15px !important;
    background-color: rgba(29, 29, 31, .7);
    color: white;
    backdrop-filter: saturate(180%) blur(20px);
    max-width: 350px;
    overflow: hidden;
    font-size: .875rem;
    background-clip: padding-box;
    border: none;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .1);
    padding: .5rem !important;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;

    .toast-body {
      font-size: 14px;
      font-family: 'teradeli-light', sans-serif !important;
      color: #eaeaea !important;
      padding: .75rem;
    }


    .toast-header {
      font-size: 14px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      padding: .25rem .75rem;
      color: #888;
      background-color: rgba(29, 29, 31, 0) !important;
      background-clip: padding-box;
      font-family: 'teradeli-light', sans-serif !important;
    }

    .close {
      font-size: 1.5rem;
      color: #000;
      opacity: 0.75;
      text-shadow: 0 1px 0 #888 !important;
      cursor: pointer;
    }
  }


}

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}