.sub-title {
  font-size: 24px;
  font-family: 'teradeli-medium', sans-serif;
  line-height: 1.16667;
  letter-spacing: .009em;
}

.text-white {
  color: white;
}

.text-lightblue {
  color: #0081a7;
}

.text-gray {
  color: #888;
}

.bg-white {
  background: white;
}

.hand {
  cursor: pointer;
}

.page-title {
  font-family: 'teradeli-medium', sans-serif;
  line-height: 1;
  text-align: left !important;
  color: #888;
  font-size: 20px;
  padding-left: 20px;
  position: relative;
  font-weight: 500;
}

.page-details {
  color: #888;
  font-size: 13px;
  padding-left: 20px;
  max-width: 400px;
  line-height: 1rem !important;
  font-weight: 500;
}

.mission-accordion {
  .v-expansion-panel {
    background-size: cover;
  }

  ul {
    padding-left: 0 !important;
  }

  .minusIcon {
    display: none;
  }

  .v-expansion-panel-header {
    padding-bottom: 60px;
  }

  .v-expansion-panel-header--active {
    .minusIcon {
      display: block;
    }

    .plusIcon {
      display: none;
    }

  }

  .v-expansion-panel-header__icon {
    display: none !important;
  }
}

#blackContent {
  z-index: 100000;
  background-color: #000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.5s, visibility 0s linear 0.5s;
  -webkit-transition: opacity 0.5s, visibility 0s linear 0.5s;
  visibility: hidden;

  &.overlay {
    visibility: visible !important;
    opacity: .8 !important;
    transition: opacity 0.5s, visibility 0s !important;
    -webkit-transition: opacity 0.5s, visibility 0s !important;
  }
}

.stickyBar {
  transition: ease-in-out 0.4s;
  position: fixed;
  z-index: 1000;
  transform: translate3D(0, 0, 0);
  top: -51px;
  width: 100%;
  &.active{
    top:0!important;
  }
}
.blackoverlay {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #121217;
    opacity: 0.1;
    z-index: 1;
  }
}
.gradientoverlay {
  &::after {
    background: linear-gradient(0.75deg, #000000 0%, transparent 100%);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.5!important;
  }
}

.v-toolbar__logo {
  width: 140px;
}

.z-2 {
  z-index: 2;
  position: relative;
}

.backgroundcover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.mission-accordion{
  .v-expansion-panel {
    background-color: transparent!important;
  }
}