.sub-title {
  font-size: 24px;
  font-family: 'teradeli-medium', sans-serif;
  line-height: 1.16667;
  letter-spacing: .009em;
}

.text-white {
  color: white;
}

.text-gray {
  color: #888;
}

.page-title {
  font-family: 'teradeli-medium', sans-serif;
  line-height: 1;
  text-align: left !important;
  color: #888;
  font-size: 20px;
  padding-left: 20px;
  position: relative;
}
